<div class="docs">
<h3 class="docs-header">Trial and Error Api</h3>
  <p></p>

  <h4 class="docs-header">How to use:</h4>

  <p>Fire up an app like Postman, or send requests from within your application. At the moment, no authorization is necessary.</p>

  <h5 class="docs-header">Trial and Terror Raw Data</h5>
  <table class="table table-striped table-hover docs-table">
      <thead>
          <tr>
              <th>Request Type</th>
              <th>Endpoint</th>
              <th>Purpose</th>
              <th>Sample Result</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>GET</td>
              <td>request</td>
              <td>why</td>
              <td>what</td>
          </tr>
      </tbody>
  </table>
  


  <h4 class="docs-header">Sample JSON response:</h4>

</div>